*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif; 
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

body{
    font-size: 1.4rem;
}

h1{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 20px;
    color: #14C38E;
}

.figures{
    display: grid;
    gap: 32px;
    grid-template-columns: 1, 1fr;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    margin-block-end: 100px;
}

.figures-item{
    align-items: center;
    display: inline-grid;
    background-color: var(--white);
    border: 8px solid #B8F1B0;
    box-shadow: -8px 8px 0 0 #14C38E;
    justify-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}



.figures-item h2{
    font-size: 3rem;
}

.figures-item img{
    margin-bottom: 30px;
    width: 100px;
}

.figures-item form{
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.figures-item form label{
    align-self: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

.figures-item form input{
    padding: 4px 10px;
    font-size: 1.4rem;
}

.figures-item form button{
    background-color: #B8F1B0;
    border: 2px solid #14C38E;
    font-size: 1.6rem;
    padding: 5px 30px;
}

@media screen and (min-width: 660px){
    h1{
        font-size: 5rem; 
    }
    
    .figures{
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 100px;
    }
}